<!-- under nav -->
<!-- <section>
      <section></section>
      <div class="container">
        <h2
          class="display-6 text-start"
          style="padding-top: 25px; padding-bottom: 20px"
        >
          All Movies
        </h2>
        <div class="row">
          <div
            class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
            style="
              padding-top: 15px;
              padding-bottom: 15px;
              padding-right: 15px;
              padding-left: 15px;
            "
          >
            <div
              class="bg-light border rounded shadow card"
              data-bss-hover-animate="pulse"
            >
              <img
                class="card-img-top"
                src="/static/assets/img/ant-man-and-the-wasp-quantumania-et00302402-1674555096.jpg"
                loading="auto"
                width="auto"
                height="auto"
              />
              <div class="card-body">
                <h3
                  class="card-title"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                >
                  Ant-Man and the Wasp: Quantumania
                </h3>
                <h5
                  class="card-sub-title"
                  style="
                    font-family: Antic, sans-serif;
                    color: rgba(0, 0, 0, 0.63);
                  "
                >
                  8.2/10
                </h5>
                <p
                  class="card-text"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                ></p>
              </div>
            </div>
          </div>
          <div
            class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
            style="
              padding-top: 15px;
              padding-bottom: 15px;
              padding-right: 15px;
              padding-left: 15px;
              margin-right: 0px;
              margin-bottom: 0px;
            "
          >
            <div
              class="bg-light border rounded shadow card"
              data-bss-hover-animate="pulse"
            >
              <img
                class="card-img-top"
                src="/static/assets/img/avatar-the-way-of-water-et00037264-1670850986.jpg"
                width="auto"
                height="auto"
              />
              <div class="card-body">
                <h3
                  class="card-title"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                >
                  AVATAR: The Way of Water
                </h3>
                <h5
                  class="card-sub-title"
                  style="
                    font-family: Antic, sans-serif;
                    color: rgba(0, 0, 0, 0.63);
                  "
                >
                  NA/10
                </h5>
                <p
                  class="card-text"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                ></p>
              </div>
            </div>
          </div>
          <div
            class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
            style="
              padding-top: 15px;
              padding-bottom: 15px;
              padding-right: 15px;
              padding-left: 15px;
            "
          >
            <div
              class="bg-light border rounded shadow card"
              data-bss-hover-animate="pulse"
            >
              <img
                class="card-img-top"
                src="/static/assets/img/shazam-fury-of-the-gods-et00312239-1678088844.jpg"
                width="auto"
                height="auto"
              />
              <div class="card-body">
                <h3
                  class="card-title"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                >
                  Shazam: Fury of the Gods&nbsp;
                </h3>
                <h5
                  class="card-sub-title"
                  style="
                    font-family: Antic, sans-serif;
                    color: rgba(0, 0, 0, 0.63);
                  "
                >
                  NA/10
                </h5>
                <p
                  class="card-text"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                ></p>
              </div>
            </div>
          </div>
          <div
            class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
            style="
              padding-top: 15px;
              padding-bottom: 15px;
              padding-right: 15px;
              padding-left: 15px;
            "
          >
            <div
              class="bg-light border rounded shadow card"
              data-bss-hover-animate="pulse"
            >
              <img
                class="card-img-top"
                src="/static/assets/img/scream-vi-et00352692-1676458179.jpg"
                width="auto"
                height="auto"
              />
              <div class="card-body">
                <h3
                  class="card-title"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                >
                  SCREAM VI
                </h3>
                <h5
                  class="card-sub-title"
                  style="
                    font-family: Antic, sans-serif;
                    color: rgba(0, 0, 0, 0.63);
                  "
                >
                  NA/10
                </h5>
                <p
                  class="card-text"
                  style="font-family: Antic, sans-serif; color: rgb(81, 87, 94)"
                ></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    <!-- Under html tag -->

    <!-- 
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

  </body>
</html>  -->
