{% extends "base.html" %} {% block title %}Ticket{% endblock %} {% block content%}
<section>
    <table class="table table-bordered table-hover model-list cf" style="color: white; ">
        <thead class="cf">
            <tr>
                <th class="list-checkbox-column">
                    <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Select all records">
                </th>
                <th class="column-header col-id">
                    <a href="/admin/ticket/?sort=0" title="Sort by Id">Id</a>
                </th>
                <th class="column-header col-user_id">
                    User Id
                </th>
                <th class="column-header col-venue_id">
                    Venue Id
                </th>
                <th class="column-header col-show_id">
                    Show Id
                </th>
            </tr>
        </thead>
        <tbody >
            {% for t in ticket %}
            <tr>
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" value="1" title="Select record">
                </td>
                <td class="col-id" data-title="Id">
                   {{ t.id}}
                </td>
                <td class="col-user_id" data-title="User Id">
                    {{t.user_id}}
                </td>
                <td class="col-venue_id" data-title="Venue Id">
                    {{t.venue_id}}
                </td>
                <td class="col-show_id" data-title="Show Id">
                    {{t.show_id}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}